@media screen and (max-width:750px){
.nav-item a{
	margin-right:190px; 
}
.nb{
	margin-left:180px;
}
.page1{
	margin-top:30px;
}
.fontp1 p{
	font-family:'Poppins-Regular';
	margin-top:20px;

}
.imgp1 img{
	width:500px;
	height:auto;
}

}