@font-face{
	font-family: "Poppins-Regular";
	src:url('font/Poppins-Regular.otf');
}
@font-face{
	font-family: "Poppins-SemiBold";
	src:url('font/Poppins-SemiBold.otf');
}
@font-face{
	font-family: "Poppins-Bold";
	src:url('font/Poppins-Bold.otf');
}
.navbar-nav a{
	margin-right: 30px;
	font-weight:bold;
	font-family: 'Poppins-Regular';
}
.navbar-brand{
	font-weight:bold;
	font-size:30px;
	font-family:'Poppins-Regular'
}
.page1{
	margin-top:150px;
}
.imgp1 img{
	width:500px;
	height:auto;
}
.h3p1{
	font-family:'Poppins-SemiBold';
}
.fontp1 p{
	font-family:'Poppins-Regular';
	margin-top:20px;

}
.fontp1{
	margin-top:70px;
}
.fontp2{
	text-align:center;
}
.fontp2 h2{
	font-family:'Poppins-SemiBold';
}
.fontp2 p{
	font-family:'Poppins-Regular';
	margin-top:20px
}
.fontp2{
	margin-top:130px; 
}
.contenpage2{
	margin-top:90px;
	margin-bottom:80px;
}
.conten1p2 img{
	width:200px;
	height:auto;
	margin-left:80px;
}
.conten1p2 p{
	text-align: center;
	font-family:'Poppins-Regular';
	margin-top:30px;
}
.conten2p2{
	margin-top:13px;
}
.conten2p2 p{
	text-align:center;
	font-family:'Poppins-Regular';
	margin-top:30px;
}
.conten2p2 img{
	width:200px;
	height:auto;
	margin-left:70px;
}
.page3 img{
	width:800px;
	height:auto;
	margin-left:-150px;
}
.fontp3{
	margin-top:130px;
}
.fontp3 h3{
	font-family:'Poppins-SemiBold';
}
.fontp3 p{
	font-family:'Poppins-Regular';
	margin-top:20px;
}
.page4{
	margin-top:40px;
	margin-bottom:50px;
}
.page4 img{
	width:800px;
	height:auto;
	margin-right:-100px;
}
.fontp4{
	margin-top:190px;
	margin-left:115px;
}
.fontp4 h3{
	font-family:'Poppins-SemiBold';
}
.fontp4 p{
	font-family:'Poppins-Regular';
	margin-top:20px;
}
.page4{
	margin-top:80px;
	margin-bottom:50px;
}